<!-- Your template -->
<div class="container d-flex align-items-center justify-content-center">
  <div>
    <div id="calendar">
      <%= month_calendar do |date| %>
          <%= date.day %>
      <% end %>
    </div>

  </div>
</div>
