<div class="container d-flex align-items-center justify-content-center">
  <div>
    <br/>
    <br/>
    <h1>Book Me</h1>
    <p> We are excited to have you. Sign in to get started!</p>
    <br/>

    <!-- Add a Google OAuth button -->
    <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: "false" }, params: { authenticity_token: form_authenticity_token }, class: "btn btn-link" do %>
        <%= image_tag("web_light_sq_SI.svg", alt: "Google Sign In", class: "google-sign-in-image") %>
    <% end %>

  </div>
</div>
